#edit-quiz {
  padding: 12px;
  font-size: 14px;
  overflow: hidden;
}

#edit-quiz textarea:focus,
#edit-quiz select:focus {
  outline: none;
}
#edit-quiz a {
  color: #000;
  text-decoration: none;
}
#edit-quiz button,
#edit-quiz select {
  font-size: 13px !important;
}
#edit-quiz .title {
  font-weight: normal;
  width: 100%;
  color: var(--text-gray);
}

.edit-quiz-container {
  width: 100%;
  display: flex;
  gap: 30px;
  overflow: hidden;
}

/* cambiar */
#edit-quiz article.left {
  width: 25%;
  color: var(--text-gray);
}
#edit-quiz article.right {
  width: 55%;
  margin-top: 2.5rem;
  color: var(--text-gray);
}
aside#preferences {
  width: 15%;
}
#edit-quiz .left .cbos select,
#edit-quiz .right header select {
  color: rgb(97, 94, 94);
  text-align: center;
  padding: 8px;
  max-width: 120px;
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  cursor: pointer;
}

/************************* LEFT *********************/
#edit-quiz .left .info {
  margin-bottom: 1.5rem;
}
#edit-quiz .left .info p {
  display: inline;
}
#edit-quiz .left .info .remarked {
  color: var(--custom-purple);
}

.left .quiz {
  width: 100%;
}
.quiz .text-option {
  display: flex;
  flex-direction: column;
}
.quiz .options {
  display: flex;
  gap: 15px;
}
#edit-quiz .quiz .options a {
  padding: 10px 5px;
  transition: all 0.1s;
}
#edit-quiz .quiz .options a:hover {
  color: var(--custom-purple);
}
.options .uploads {
  display: flex;
  align-items: center;
  gap: 6px;
}
.uploads .crown-icon {
  font-size: 12px;
}

.quiz .text-option p {
  margin: 0;
  margin-bottom: 0.5rem;
}
.quiz .text-option textarea {
  color: rgb(97, 94, 94);
  padding: 20px 15px;
  resize: none;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 5px;
}

.quiz .cbos {
  display: grid;
  padding: 20px 10px;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.quiz .text-option #generate-btn {
  background-color: var(--custom-purple);
  color: #eee;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.15s;
}
#edit-quiz #generate-btn:hover {
  background-color: rgb(83, 85, 214);
}

/************************* RIGHT *********************/
#edit-quiz .right header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
#edit-quiz .right header div {
  display: flex;
  gap: 10px;
}
#edit-quiz .right header button {
  background-color: transparent;
  padding: 10px;
  width: 120px;
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  cursor: pointer;
  color: var(--text-gray);
}
#edit-quiz .right .bubble {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-color: rgb(238, 242, 255);
  border: 0.15rem solid var(--custom-purple);
  border-radius: 5px;
}
#edit-quiz .right .bubble p {
  margin: 0;
}
#edit-quiz .right .bubble a {
  color: var(--custom-purple);
}
#edit-quiz .right .questions-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 1.5rem 0;
}


/************************* ASIDE *********************/
#preferences .preferences-inner {
  display: flex;
  flex-direction: column;
}
#preferences .preferences-inner h6 {
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 1rem;
  color: rgb(189, 184, 184);
  display: flex;
  gap: 5px;
  align-items: center;
}
#preferences .preferences-inner a {
  padding: 15px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--text-gray);
  transition: 0.1s;
}
#preferences .preferences-inner a:hover {
  color: var(--custom-purple);
}
/* .preferences-inner a i   */
#preferences .preferences-inner h6 i {
  color: #000;
}
